body, body *{
    font-family: "Roboto", sans-serif;
}

.navbar{
    background-color: #17202A;
    
}
.nav-link{
    color:white;
    font-size:18px;
}
.navbar-brand{
    color:white;
    font-size:25px;
}
.card-header{
    background-color: #17202A;
    color: white;

}