
.form-edit-input{
    padding: 20px 20px !important;   
    color: black;
    
}


body, body *{
    font-family: "Roboto", sans-serif;
}

.navbar{
    background-color: #17202A;
    
}
.nav-link{
   color: white !important;
    font-size:18px;
}
.navbar-brand {
    color: white !important;
    font-size:25px;
    
}


.card-header{
    background-color: #17202A;
    color: white;

}

button[name="rgt"] {
  background: #17202A ;
  color: white !important;
}
button:hover[name="rgt"] {
  background: #17202A ;
  color: white !important;
}
.table-dark{
background-color: #17202A;
}
input[type="text"]{
        
text-transform: lowercase;
text-transform: capitalize;
   
}